<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h1>NEW TASK:</h1>      
    <form action="activity/<%= @todo.id %>", id="new_task"," method="POST">
      <div class="form-group">
        <input class= "form-control" type="text" placeholder="Task" name=activity[task]>
      </div>
      <div class="form-group">
        <select name=activity[category] form="new_task">
          <%  Category.all.each do |category|  %>
          <option value="<%= category.name %>"> <%=  category.name%> </option>
          <% end %>
        </select>
        </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Create new task">
      </div>
    </form>
    <button id="category"> Add new Category </button>
    <div class="category_form" style="display:none">
       <form action="/todo/<%=@todo.id %>/category", id="new_category",
      " method="POST">
        <div class="form-group">
          <input class= "form-control" type="text" placeholder="Name" name=category[name]>
        </div>
        <div class="form-group">
          <input class="btn btn-primary btn-block send_category" type="submit" value="Create new Category">
        </div>
      </form>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1">    
      <h2>To do:</h2>
      <% if @activities %>
      <% @activities.each do |activity| %>
            <% if activity.checked==nil %>
          <ul class="list-group"> 
            <li class="list-group-item"> <a href="/todo/activity/edit/<%= activity.id %>"> <%= activity.name %> </a> <a href="/todo/activity/delete/<%= activity.id %>">  <i class="glyphicon glyphicon-remove"></i></a>  <a href="/todo/activity/<%= activity.id%>/done"><i class="glyphicon glyphicon-ok"></i></a></li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <h2>Done:</h2>
      <% @activities.each do |activity| %>
          <% if activity.checked==true %>
          <ul class="list-group undone">
              <li class="list-group-item">  <%=activity.name %>  <a href="todo/activity/delete/<%activity.id%>"> <i class="glyphicon glyphicon-remove"></i></a></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
